<meta name="description" content="{%- if description -%}{{ description }}{%- else -%}Personal website for Martyn Taylor-Sherwood{%- endif -%}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Martyn Taylor-Sherwood" />
<meta name="twitter:creator" content="@gingergibberish" />
<meta property="og:url" content="https://martyn.taylorsherwood.co.uk" />
<meta property="og:title" content="Martyn Taylor-Sherwood" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}Personal website for Martyn Taylor-Sherwood{%- endif -%}" />
