<!doctype html>
<html lang="en" class="text-gray-500 bg-gray-900">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
  </head>
  <body class="container mx-auto mb-12 lg:max-w-8xl text-gray-700">
    {% include "header.njk" %}
    <div class="content leading-relaxed">
      {{ content | safe }}
    </div>
    {% include "footer.njk" %}
    {% set js %}
      {% include "js/core.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
    <script src="https://type-lights.taylorsherwood.co.uk/script.js" data-site="QFLJFMFL" defer></script>
  </body>
</html>



